{% extends '_layout.html' %} {% block title %} {{ title }} {% endblock %} {% load humanize %} {% block navheader %} {% include 'includes/navheader_employee_app.html' %} {% endblock %} {% block stylesheet %} {% endblock %}
<!--CONTENTS-->
} {% block content %}
<section class="content">
    <section class="container-fluid">
        <h1>Sorry your order is cancelled!</h1>
        <p>
          Forgot to add something to your cart? Shop around then come back to pay!
          <a href="mailto:stupid6moron9@gmail.com">stupid6moron9@gmail.com</a>.
        </p>
</section>
    <!-- /container -->
</section>
{% endblock %}