{% extends '_layout.html' %} {% block title %} {{ title }} {% endblock %} {% block stylesheet %} {% endblock %}



<!--CONTENTS-->
{% block content %}
<style>
    .sec-box {
        height: 160px;
        max-width: 100%;
        line-height: 160px;
        text-align: center;
        position: relative;
        font-size: 1.9rem;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        transition: all 400ms ease-in;
        font-variant: petite-caps;
    }
    
    .sec-box a {
        color: #fff;
        text-decoration: none;
    }
    
    .employee-box {
        background: #41b6d6;
    }
    
    .leave-box {
        background: #fff;
    }
    
    .leave-box a {
        color: #3ea7c7 !important;
    }
    
    .birthday-box {
        background: #8664ad;
    }
    
    .company-box {
        background: #868686;
    }
    
    .count-object {
        position: absolute;
        top: 40%;
        right: 12px;
        font-size: 29px;
        font-weight: 100;
        font-variant: petite-caps;
        color: #f5f5f5;
        text-shadow: 1px 1px rgba(8, 8, 8, 0.23);
    }
</style>
<div class="big">



    {% for leave in leave_list %}
    <div class="one"><a href="{% url 'dashboard:test2' leave.id %}" style='color: black;'><i class='fas fa-chess-king' style='font-size:24px;'></i> <span>{{leave.name}}</span><br><span style="width: fit-content;">{{leave.desc}}</span></a></div>

    {% endfor %}
    <script>
        $(document).ready(function() {
            var get_login_user = '{{request.user.username}}'
            console.log(get_login_user);
            demo.initChartist();
            $.notify({
                icon: 'fa fa-user',
                message: "Welcome to Chess.Live," + get_login_user
            }, {
                type: 'info',
                timer: 4000
            });
        });
    </script>

    {% endblock %} {% block extrajs %} {% endblock %}